.book{
    background-image: url('../images/boat-7344972_1280.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  
}



.input {
    border: 1px solid #E5E7EB; 
    padding: 0.5rem; 
    border-radius: 0.5rem; 
  }
  
  textarea.input {
    resize: none; 
  }
  
 
  button[type="submit"] {
    background-color: #4B5563; 
    color: #FFFFFF;
    border: none; 
    padding: 0.75rem 1.5rem; 
    border-radius: 0.5rem; 
  }
  
  
  button[type="submit"]:hover {
    background-color: #6B7280; 
  }
  